h2{
    color: blue; 
}
#add{
    display: inline-block;
    width: 400px;
    height: 600px; 
    border: solid 1px black; 
    vertical-align: top; 
}
#session{
    display: inline-block; 
    width: 400px; 
    height: 600px; 
    border: solid 1px black; 
    vertical-align: top; 
}
.red{
    color: red; 
}

.bold{
    font-weight: bold; 
}

.green{
    color: green;
}

.blue{
    color: blue; 
}